#root {
    -fx-background-color: rgb(205,10,50);
}
#mainTabPane {
    -fx-background-color: white;
}
.title {
    -fx-font-size: 24px;
    -fx-font-family: "Calibri Light";
    -fx-fill: #F1F1F1;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.deleteBtn {
    -fx-background-color: rgb(205,10,50);
    -fx-text-fill: white;
}
